<% assigned0 = 0; assigned1 = 0; assigned2= 0; assigned3 = 0; %>

<span class = "bold"><%= opponent.name %>:</span>
<br>
Game ID: <%= opponent.gameID %>

<br>
<br>

<span class = "bold">Group 1: <%= player.groups.one.status %></span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "one") {%>
        | <%= unit.type %> 
        <% assigned1++ %>
    <% } %>
<% }) %>
<% if (assigned1 == 0) { %>
    There are no units in group 1
<% } else if (player.groups.one.status == "free") { %>
    <button class = "attack-player" data-group="one" data-opponent=<%= opponent.name %>>Send to Attack</button>
<% } %>



<br><br>

<span class = "bold">Group 2: <%= player.groups.two.status %></span>
<br>

<% units.forEach(function(unit){ %>
    <% if (unit.group == "two") {%>
        | <%= unit.type %>
        <% assigned2++ %>
    <% } %>
<% }) %>

<% if (assigned2 == 0) { %>
    There are no units in group 2
<% } else if (player.groups.two.status == "free") { %>
    <button class = "attack-player" data-group="two" data-opponent=<%= opponent.name %>>Send to Attack</button>
<% } %>


<br><br>

<span class = "bold">Group 3: <%= player.groups.three.status %></span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "three") {%>
        | <%= unit.type %>
        <% assigned3++ %>
    <% } %>
<% }) %>
<% if (assigned3 == 0) { %>
    There are no units in group 3
<% } else if (player.groups.three.status == "free") { %>
    <button class = "attack-player" data-group="three" data-opponent=<%= opponent.name %>>Send to Attack</button>
<% } %>


<br>


