<% assigned0 = 0; assigned1 = 0; assigned2= 0; assigned3 = 0; %>

<span class = "bold"><%= opponent.name %>:</span>
<br>
Game ID: <%= opponent.gameID %>

<br>
<br>

<span class = "bold">Group 1: <%= player.groups.one.status %></span>
<br>
<% footman = 0; archer = 0; scout = 0; %>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "one") {%>
        <% if (unit.type == "footman") {%> 
            <% footman++ %>
            <% assigned1++ %>
        <% } else if (unit.type == "archer") { %>
            <% archer++ %>
            <% assigned1++ %>
        <% } else if (unit.type == "scout") { %>
            <% scout++ %>
            <% assigned1++ %>
        <% } %>
    <% } %>
<% }) %>
<% if (assigned1 == 0) { %>
    There are no units in Group 1. <a class = "group">Group your units!</a>
<% } else { %>
    Footmen: <%= footman %> | Archers: <%= archer %> | Scouts: <%= scout %>
    <% if (player.groups.one.status == "free") { %>
        <br>
        <button class = "attack-player" data-group="one" data-opponent=<%= opponent.name %>>Group 1: Attack</button>
    <% } %>
<% } %>





<br><br>

<span class = "bold">Group 2: <%= player.groups.two.status %></span>
<br>

<% footman = 0; archer = 0; scout = 0; %>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "two") {%>
        <% if (unit.type == "footman") {%> 
            <% footman++ %>
            <% assigned2++ %>
        <% } else if (unit.type == "archer") { %>
            <% archer++ %>
            <% assigned2++ %>
        <% } else if (unit.type == "scout") { %>
            <% scout++ %>
            <% assigned2++ %>
        <% } %>
    <% } %>
<% }) %>
<% if (assigned2 == 0) { %>
    There are no units in Group 2. <a class = "group">Group your units!</a>
<% } else { %>
    Footmen: <%= footman %> | Archers: <%= archer %> | Scouts: <%= scout %>
    <% if (player.groups.two.status == "free") { %>
        <br>
        <button class = "attack-player" data-group="two" data-opponent=<%= opponent.name %>>Group 2: Attack</button>
    <% } %>
<% } %>


<br><br>

<span class = "bold">Group 3: <%= player.groups.three.status %></span>
<br>

<% footman = 0; archer = 0; scout = 0; %>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "three") {%>
        <% if (unit.type == "footman") {%> 
            <% footman++%>
            <% assigned3++ %>
        <% } else if (unit.type == "archer") { %>
            <% archer++ %>
            <% assigned3++ %>
        <% } else if (unit.type == "scout") { %>
            <% scout++ %>
            <% assigned3++ %>
        <% } %>
    <% } %>
<% }) %>

<% if (assigned3 == 0) { %>
    There are no units in Group 3. <a class = "group">Group your units!</a>
<% } else { %>
    Footmen: <%= footman %> | Archers: <%= archer %> | Scouts: <%= scout %>
    <% if (player.groups.three.status == "free") { %>
        <br>
        <button class = "attack-player" data-group="three" data-opponent=<%= opponent.name %>>Group 3: Attack</button>
    <% } %>
<% } %>


<br>


