<p>Group units</p>
<% assigned0 = 0; assigned1 = 0; assigned2= 0; assigned3 = 0; %>

<span class = "bold">Ungrouped Units:</span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "none" && (unit.type == "footman" || unit.type == "archer")) {%>
        <%= unit.type %>
        <% if(player.groups.one.status == "free"){ %>
            <button class = "assign small-button" data-id = <%= unit.id %> data-current = "none" data-group = "one">1</button>
        <% } %>
        <% if(player.groups.two.status == "free"){ %>
            <button class = "assign small-button" data-id = <%= unit.id %> data-current = "none" data-group = "two">2</button>
        <% } %>
        <% if(player.groups.three.status == "free"){ %>
        <button class = "assign small-button" data-id = <%= unit.id %> data-current = "none" data-group = "three">3</button>
        <% } %>
        <br>
        <% assigned0++ %>
    <% } %>
<% }) %>
<% if (assigned0 == 0) { %>
    You have no units to group. <a class = "buy-units">Buy some!</a>
<% } %>
<br><br>

<span class = "bold">Group 1: <%= player.groups.one.status %></span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "one") {%>
        <%= unit.type %><button class = "assign" data-id = <%= unit.id %> data-current = "one" data-group = "none">Remove</button><br>
        <% assigned1++ %>
    <% } %>
<% }) %>
<% if (assigned1 == 0) { %>
    There are no units in group 1
<% } %>
<br><br>

<span class = "bold">Group 2: <%= player.groups.two.status %></span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "two") {%>
        <%= unit.type %><button class = "assign" data-id = <%= unit.id %> data-current = "two" data-group = "none">Remove</button><br>
        <% assigned2++ %>
    <% } %>
<% }) %>
<% if (assigned2 == 0) { %>
    There are no units in group 2
<% } %>

<br><br>

<span class = "bold">Group 3: <%= player.groups.three.status %></span>
<br>
<% units.forEach(function(unit){ %>
    <% if (unit.group == "three") {%>
        <%= unit.type %><button class = "assign" data-id = <%= unit.id %> data-current = "three" data-group = "none">Remove</button><br>
        <% assigned3++ %>
    <% } %>
<% }) %>
<% if (assigned3 == 0) { %>
    There are no units in group 3
<% } %>
<br>


