
<p>Available workers:</p>
<% var available = 0 %>
<% workers.forEach(function(worker){  %>  
    
    <span id = <%= worker.id %>>
        <% if (worker.job == "none"){ %>
            Free worker (HP: <%= worker.hp %>):
            <button class = "assign-worker" data-id = <%= worker.id %> data-job = "farmer">Farm food</button>
            <button class = "assign-worker" data-id = <%= worker.id %> data-job = "miner">Mine coin</button>
        <% } else { %>
            <%= worker.job %> (HP: <%= worker.hp %> )<button class = "assign-worker" data-id = <%= worker.id %> data-job = "none">Unassign</button>
        <% } %>

        <br>
        <% available++ %>
    </span>
    
<% }) %>

<% if(available == 0){ %>
    <p>You haven't hired any workers. <a class = "buy-units">Hire some!</a></p>
<% } %>

